.xian { FONT-SIZE: 14px; BORDER-TOP: 0px dashed; BORDER-RIGHT: 0px dashed; BORDER-BOTTOM: 0px dashed; COLOR: #006699; BORDER-LEFT: 0px dashed }
.STYLE8 { FONT-SIZE: 12px; COLOR: #ffffff }
.STYLE1 { FONT-SIZE: 12px }
.STYLE9 { FONT-SIZE: 14px; FONT-WEIGHT: bold }
A:link { COLOR: #ff6600; TEXT-DECORATION: none }
.head_link A:link { COLOR: #ff6600; TEXT-DECORATION: none;FONT-SIZE: 14px; FONT-WEIGHT: bold;}
.head_link A:visited { COLOR: #ff6600; TEXT-DECORATION: none;FONT-SIZE: 14px; FONT-WEIGHT: bold; }
A:visited { COLOR: #ff6600; TEXT-DECORATION: none }
A:hover { COLOR: #0066ff; TEXT-DECORATION: none }
A:active { TEXT-DECORATION: none }
.foot_table TD IMG { DISPLAY: block}
.foot_table_style1 { FONT-SIZE: 12px; COLOR: #ffffff}
