
.orangeb {
    FONT-WEIGHT: bold; COLOR: #ffa000
}
.zl {
    FONT-SIZE: 12px; COLOR: #333333
}
.STYLE15 {
    FONT-SIZE: 12px; FONT-WEIGHT: bold; COLOR: #333333
}
.STYLE17 {
    FONT-SIZE: 12px; COLOR: #333333
}
A:link {
    COLOR: #333333; TEXT-DECORATION: none
}
A:visited {
    COLOR: #333333; TEXT-DECORATION: none
}
A:hover {
    COLOR: #0099ff; TEXT-DECORATION: underline
}
A:active {
    TEXT-DECORATION: none
}
.STYLE9 {
    FONT-SIZE: 12px; COLOR: #ff0000
}